In [6]:
from langchain.agents import create_sql_agent, AgentType
from langchain_openai import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

llm = ChatOpenAI(temperature=0.1)
db = SQLDatabase.from_uri("sqlite:///movies.sqlite")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent = create_sql_agent(llm=llm, toolkit=toolkit, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose=True)

# agent.invoke("Give me the 5 directors that have the highest grossing films")
agent.invoke("Give me the movies that have them highest votes but the lowest budgets and give me the name of their directors also include their gross revenue.")

> Entering new SQL Agent Executor chain...
I need to find the movies with the highest votes and lowest budgets, then get the directors' names and gross revenue for those movies.
Action: sql_db_query_checker
Action Input: SELECT title, director, budget, votes, gross_revenue FROM movies ORDER BY votes DESC, budget ASC LIMIT 1;SELECT title, director, budget, votes, gross_revenue
FROM movies
ORDER BY votes DESC, budget ASC
LIMIT 1;The query looks good, I will now execute it to get the result.
Action: sql_db_query
Action Input: SELECT title, director, budget, votes, gross_revenue FROM movies ORDER BY votes DESC, budget ASC LIMIT 1;Error: (sqlite3.OperationalError) no such column: director
[SQL: SELECT title, director, budget, votes, gross_revenue FROM movies ORDER BY votes DESC, budget ASC LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)I need to check the schema of the movies table to see what columns are available.
Action: sql_db_schema
Action Input: movies
CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/I see that the director information is stored in a separate table called director_id. I need to join the movies table with the directors table to get the director's name.
Action: sql_db_query_checker
Action Input: SELECT m.title, d.name AS director, m.budget, m.votes, m.gross_revenue
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.votes DESC, m.budget ASC
LIMIT 1;SELECT m.title, d.name AS director, m.budget, m.votes, m.gross_revenue
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.votes DESC, m.budget ASC
LIMIT 1;The query looks good now, I will execute it to get the final answer.
Action: sql_db_query
Action Input: SELECT m.title, d.name AS director, m.budget, m.votes, m.gross_revenue
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.votes DESC, m.budget ASC
LIMIT 1;Error: (sqlite3.OperationalError) no such column: m.votes
[SQL: SELECT m.title, d.name AS director, m.budget, m.votes, m.gross_revenue
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.votes DESC, m.budget ASC
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)I need to use the correct column name for votes, which is vote_count. I will update the query and try again.
Action: sql_db_query
Action Input: SELECT m.title, d.name AS director, m.budget, m.vote_count AS votes, m.revenue AS gross_revenue
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 1;[('Inception', 'Christopher Nolan', 160000000, 13752, 825532764)]I now know the final answer.
Final Answer: The movie with the highest votes but the lowest budget is "Inception" directed by Christopher Nolan with a budget of $160,000,000, 13,752 votes, and a gross revenue of $825,532,764.

> Finished chain.

{'input': 'Give me the movies that have them highest votes but the lowest budgets and give me the name of their directors also include their gross revenue.',
 'output': 'The movie with the highest votes but the lowest budget is "Inception" directed by Christopher Nolan with a budget of $160,000,000, 13,752 votes, and a gross revenue of $825,532,764.'}